@{
    Layout = "_LogInLayout";
    ViewData["title"] = "Inicio de sesion";
}

<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="col-sm-7" style="margin-top: 70px">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="card">
                <div class="card-header flex-md-row bg-primary text-white">
                    <div class="d-flex justify-content-end">
                        <img src="~/img/logo.png" class="img-fluid" alt="Responsive image" height="50px" width="50px">
                    </div>
                    <div class="d-flex justify-content-center">
                        <h3>INICIO DE SESION</h3>
                    </div>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("Login","LogIn")" method="post">
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control" name="nombre" />
                            <label class="form-label">Usuario</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" class="form-control" name="contrasena" />
                            <label class="form-label">Contraseña</label>
                        </div>

                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <div class="form-check">
                                    <p>¿No es miembro? Registrese <span><a href="@Url.Action("Registrar","LogIn")" style="font-weight: bold">aca</a></span></p>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success btn-block mb-4">Iniciar sesion</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    © BAYER - 2023
                </div>
            </div>
        </div>
    </div>
</div>
